/* 
    Document   : islandora_fjm_player
    Created on : Oct 11, 2011, 1:22:03 PM
    Author     : adam
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

#atm_player {
  height: 130px;
  display: block;
  clear: both;
  width: 100%;
}

.atm_clips a.progress {
    font-style: italic;
    font-weight: bold;
}

.atm_clips a.paused {
    font-weight: bold;
}

.atm_clips a.playing {
    font-style: italic;
}

h3.player-content {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

p.player-content {
  color: white;
}

div.atm_track > a {
    display: block;
    float: left;
    background-image: url("../images/media-playback-set.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

div.atm_track > a.atm_playing {
    background-position: 100% 0;
}