root {
    display: block;
}

.atm_solr_result p {
    margin: .2em 0 .4em;
}

.atm_solr_result h3 {
    clear: left;
}

#atm_player {
    display: block;
    clear: both;
    height: 30px;
    width: 100%;
}

div.atm_track > a {
    display: block;
    float: left;
    background-image: url("../images/media-playback-set.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

div.atm_track > a.atm_playing {
    background-position: 100% 0;
}

.atm_solr_result div {
    float: left;
    padding: 5px;
}

.atm_solr_result .concert_top_left > * {
    clear: left;
}

.atm_solr_result .concert_top_right {
    float: right;
}

.atm_solr_result .concert_top_right > p {
    clear: right;
}

.atm_solr_result .concert_top_left > img{
    height: 100px;
    width: 100px;
    float: left;
}

.atm_solr_result .concert_bottom {
    clear: left;
    width: 50%;
}

.atm_solr_result .concert_bottom h3 {
    font-size: 12px;
}

.atm_solr_result .concert_bottom li {
    font-size: 10px;
}

.item_stat > h4 {
    font-size: 100%;
}

.item_stat > p {
    margin: 0;
    font-size: 75%;
    float: none;
}

ul.atm_solr_letterblock > li {
    display: inline;
    list-style-type: none !important;
    padding-right: 5px;
}
