/* 
    Document   : playlist
    Created on : Jul 7, 2011, 9:30:02 AM
    Author     : adam
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
root  {
    display: block;
}
    
#atm_player {
    float: left;
    height: 80px;
    width: 100%;
}

div.atm_track > a {
    display: block;
    background-image: url("../images/media-playback-set.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

div.atm_track > a.atm_playing {
    background-position: 100% 0;
}
