/* 
    Document   : islandora_fjm_score.css
    Created on : Jul 19, 2011, 12:57:53 PM
    Author     : adam
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

#flexpaper, #islandora_fjm_description {
    display: block;
    float: left;
}

#flexpaper {
    width: 700px;
    height: 400px;
}

#islandora_fjm_description {
    width: 200px;
    padding: .5em;
    margin: 0 .5em;
    border-width: 1px;
    border-style: solid;
}