root { 
    display: block;
}

.image_strip_group {
    display: block;
    float: left;
    padding: 1em;
    max-width: 50%;
}

.image_strip_group > a {
    display: block;
}

.image_strip_group > a > img {
    display: block;
/*    height: 50%;*/
    max-height: 320px;
    max-width: 100%;
}

.image_strip_group > ul {
    display: block;
}
