root {
    display: block;
}

.atm_movement_empty_cell {
    width: 100px;
}

div.atm_concert_bottom {
    clear: both;
}

div.atm_concert_bottom_left 
{
    float: left;
}

.atm_piecename {
    font-weight: bold;
}

.atm_movement_name {
    font-style: italic;
}